body {
    font-family: "Heebo", sans-serif;
    padding-right: 230px;
    padding-left: 230px;

}

#brand {
    font-weight: 700;
    margin-right: 100px !important;
}

#mainNavbar .nav-link {
    font-weight: 400;
}

#first-img {
    width: 35%;
}

.center-it {
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
}

.rounded-left-corner {
    border-top-left-radius: 2rem!important;
    border-bottom-left-radius: 2rem!important;
}

#header1 {
    font-weight: 700;
}

#header5 {
    font-size: 14px;
}

.align-left {
    text-align: left;
}

.btn#lets-btn {
    background-color: darkorange;
    border-color: darkorange;
}

.margin-top {
    margin-top: 100px;
}

#more-info-link {
    padding-left: 150px;
}